.top-navbar {
    width: 100%;
    background-color: gray;
    height: 50px;
}


ul {
    display: inline-block;
    margin-right: 15px;
}

li {
    display: inline;
    padding: 5px;
}

.logo-nav {
    float: left;
}

.login-register-nav {
    float: right;
}