body {
    font-family: 'Ubuntu', sans-serif;
}

.top-navbar {
    width: 100%;
    background-color: rgb(51, 51 ,51, 0.9);
    height: 50px;
    padding-top: 10px;
}

ul {
    display: inline-block;
    margin-right: 15px;
}

li {
    display: inline-block;
    padding: 5px;
}

.logo-nav {
    float: left;
}

.login-register-nav {
    float: right;
}

main {
    max-width: 800px;
    margin: 20px auto 0px auto;
    padding-left: 10px;
    padding-right: 10px;
}


