.card-edit-form {
    display: block;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 20px 30px;
    background-color: rgb(255,255,255)
}

input {
    width: 100%;
    height: 35px;
    font-size: 14px;
    border-radius: 4px;
    padding: 2px;
    margin: 5px;
}

.card-edit-submit-btn {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 109, 252)
}

fieldset > h1 {
    color: rgb(51,51,51);
    font-size: 24px;
}
