.homepage {
    padding: 5px;
    border: black 1px solid;
}

.banner {
    border: 1px solid grey;
    border-radius: 5px;
}

.banner-header {
    padding: 20px;
    position: relative;
}

.banner-header-avatar {
    display: inline-block;
    padding-right: 10px;
}

.banner-header-user {
    display: inline-block;
    position: absolute;
    left: 125px;
    top: 15px;
}

.banner-header-user > h1 {
    padding: 0px;
    font-size: 18px;
}

.banner-header-user > p {
    padding: 0px;
    font-size: 14px;
}

.banner-header-progress-dashboard {
    display: inline-block;
    float: right;
}

.banner-header-progress-line {
    display: none;
}

.banner-footer {
    margin-left: 10px;
}

.section {
    padding-top: 10px;
}

.section-header {
    border: 1px solid grey;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
}


.mid-section {
    display: flex;
    margin-top: 10px;
}

.section-left {
    padding: 10px 0 10px 40px;
    margin-right: 10px;
    flex: 1;
    border: 1px solid grey;
    border-radius: 5px;
}

.section-right {
    padding: 10px 55px 10px 55px;
    
    flex: 1;
    border: 1px solid grey;
    border-radius: 5px;
}

.section-left > h1, .section-right > h1, .section-header > h1 {
    color: white;
    font-weight: bold;
    padding: 0;
    display: inline-block;
}

/* Anything < 640px, the code applies */
@media only screen and (max-width: 640px){
    .mid-section {
        display: block;
    }
    .banner-header-progress-dashboard {
        display: none;
    }

    .banner-header-progress-line {
        display: block;
        padding-top: 15px;
        padding-right: 50px;
    }
}
