.dashboard {
    width: 100%;
}

.dashboard-header{
    padding: 10px;
}

.dashboard-section {
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 18px;
    text-align: center;
}

.ant-card > ul {
    display: block;
}

.hover-effect {
    transition: transform .1s;
    -webkit-transition: transform .1;
    -moz-transition: transform 0.1;
    -o-transition: transform 0.1;
}

.hover-effect:hover{
    transform: scale(1.05);
}

/* Anything < 640px, the code applies */
@media only screen and (max-width: 640px){
    .mid-section {
        display: block;
    }
    .banner-header-progress-dashboard {
        display: none;
    }

    .banner-header-progress-line {
        display: block;
        padding-top: 15px;
        padding-right: 50px;
    }
}
