.section {
    color: rgb(51,51,51);
    width: 100%;
}

.section-header {
    background: rgba(255,255,255,0.9);
    border: 2px solid white;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.section-header-content {
    margin-left: 25px;
}


.mid-section {
    display: flex;
    margin-top: 10px;
}

.section-left {
    padding: 10px 0 10px 40px;
    margin-right: 10px;
    flex: 1;
    background: rgba(255,255,255,0.9);
    border: 2px solid white;
    border-radius: 5px;
}

.section-right {
    padding: 10px 55px 10px 55px;
    flex: 1;
    background: rgba(255,255,255,0.9);
    border: 2px solid white;
    border-radius: 5px;
}

.section-left > h1, .section-right > h1, .section-header > h1 {
    color: rgb(51,51,51);
    margin-left: 25px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.quote {
    font-size: 18px;
}

.ant-card-head{
    padding: 0 12px;
}

.ant-card-body {
    padding: 20px 10px;
}

.font-color {
    color: rgb(51,51,51);
}
