.question-form-section {
    width: 100%;
}

.survey-submit-btn{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 20px;
}
button {
    width: 100%;
    background-color: rgb(51, 105, 255);
    color: white;
}
